.flex-container {
    display: flex;
    width: 600px;
    background-color: #DDF58C;
}

.flex-item {
    background-color: #67C3E6;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.main-section{
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

.user-image{
    margin-top: -50px;
    margin-bottom: 35px;
}
.user-image image{
    width: 100px;
    height: 100px;
}